h1,h2 {
	font-family: 'Work Sans';
	font-weight:800;
	text-align: center;
}
h3 {
	font-weight:800;
	font-size:1rem;
}
*:focus {
	outline:none;
}
img {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera */
}

a, a:active, a:visited {
	color:inherit;
	text-align: center;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

h1,h2 {
	text-transform: uppercase;
}

html {
	font-size: calc(16px + 6 * ((100vw - 320px) / 680));
	-webkit-font-smoothing:antialiased;
	text-rendering: optimizeLegibility;
}

body, p, input, button {
	font-family: 'Work Sans';
	font-weight:400;
}

body {
	color: rgb(82, 107, 118);
	text-align: center;
}
body,html {
	background:rgb(82, 107, 118);
}

section center a {
	display:inline-block;
}

section,header, footer {
	padding:1rem 1rem 2rem 1rem;
	position: relative;
	/*box-shadow: 0 0 1rem rgba(0,0,0,0.2);*/
	display:block;
	overflow: hidden;
}
header {

}

.wrap {
	display: block;
	text-align: left;
	max-width:800px;
	margin:0 auto;
	overflow: hidden;
}


.widewrap {
	display: block;
	text-align: left;
	max-width:1366px;
	margin:0 auto 1rem auto;
	overflow: hidden;

}

.section-primary {
	background: rgb(82, 107, 118);
	color: rgb(241, 235, 225);
}
.section-secondary {
	background: rgb(241, 235, 225);
	color: rgb(82, 107, 118);
}
.section-tertiary {
	background-color: rgba(200,69, 56);
	color: rgb(241, 235, 225);
}
.section-tertiary-tint {
	background: rgb(223,133, 128);
	color: rgb(241, 235, 225);
}

.logo {
	width:3rem;
}

button,a.button {
	background:rgb(241, 235, 225);
	color:rgb(82, 107, 118);
	text-decoration: none;
	padding:0.5rem 2rem;
	font-weight: 800;
	border-radius: 1rem;
	display: inline-block;
	/*box-shadow: 0 0 1rem rgba(0,0,0,0.2);*/
	transition: color 0.2s ease, background 0.2s ease;

	background: black;
	color: rgb(241, 235, 225);
}

button:hover,
a.button:hover {
	/*background:rgb(182,47, 42);*/
	background: black;
	color: rgb(241, 235, 225);
}

section img {
	width:90%;
	display: inline-block;
}
.button-wrap {
	padding:1rem 0 4rem 0;
	text-align: center;
}

.image-wrap {
	white-space: nowrap;
	text-align: center;
	overflow: hidden;
	width: 100%;
	min-height:2rem;
}
.image-wrap img {
	width:75%;
	display:block;
	margin:0 auto;
}

ol {
	list-style: none;
	counter-reset: muffins;
	position: relative;
	padding-left:3.5rem;
	overflow: hidden;
	display:block;
}

ul li {
	padding:1rem 0;
	margin:0;
}

ul {
	padding-left:3.5rem;
}

ol li {
	counter-increment: muffins;
	padding:1rem 0;
	margin:0;
}

ol li:before {
	font-weight:800;
	padding:0.5rem 1.25rem 0.5rem 1rem;
	border-radius:0 1rem 1rem 0;
	content: counter(muffins) " ";
	position:absolute;
	margin-left:-3.5rem;
	background:rgb(82, 107, 118);
	color: rgb(241, 235, 225);
}

.section-primary ol li:before {
	color:rgb(82, 107, 118);
	background: rgb(241, 235, 225);
}

.section-tertiary ol li:before {
	color:rgba(200,69, 56);
	background: rgb(241, 235, 225);
}

.corner {
	width: 0;
	height: 0;
	border-top: 4em solid #ffcc00;
	border-bottom: 4em solid transparent;
	border-left: 4em solid transparent;
	position:absolute;
	right:0;
	top:0
  }
  
  .corner span {
	position:absolute;
	top: -3em;
	width: 3em;
	left: -3em;
	text-align: center;
	font-family: arial;
	transform: rotate(45deg);
	display:block;
  }

  .corner-primary {
	border-top-color: rgb(82, 107, 118);
  }

  .corner-secondary {
	border-top-color: rgb(241, 235, 225);
  }

  .corner-tertiary {
	border-top-color: rgb(200,69, 56);
  }

  section .left {
	  width:27.5%;
	  float:left;
	  padding-right:2.5%;
  }
  section .right {
	width:67.5%;
	float:right;
	padding-left:2.5%;
}

section .profile {
	border-radius:50%;
}
.twothirds img {
	width:100%;
}

section .twothirds h3 {
	margin:0;
}

section .twothirds {
	font-size:0.9rem;
	margin:3rem 0;
	overflow: hidden;
	position: relative;
}

a.social {
	margin:-0.1rem 0.5rem 0 0.5rem;
	display: inline-block;
	white-space: nowrap;
}
nav a:hover img {
	opacity:1.0;
	transition: opacity ease 0.2s;
}

.social img {
	width:1rem;
	opacity:0.5;
	vertical-align: top;

}



nav {
	white-space: nowrap;
	padding-top:0.5rem;
}

header a, footer a {
	
}

header nav, footer nav {
	display:inline-block;
	vertical-align: top;
	
}
.logo {
	margin-right:1rem;
	width:5rem;
}

nav .links {
	font-size:0.7rem;
	padding:0 0.4rem;
	text-decoration: none;
	letter-spacing: 0;
	opacity:0.5;
	transition: opacity ease 0.2s;
}

nav a.links:hover,
nav a.links.active  {
	opacity:1.0;
}

#call {
	position: fixed;
	top:0;
	left:0;
	right:0;
	z-index:10000;
	border-radius: 0;
	box-shadow:0 0 1rem rgba(0,0,0,0.2);
	padding:1rem 2rem;
	color:white;
	border-bottom:0.1rem solid white;
}

.stat {
	font-size:3rem;
	font-weight:800;
}

blockquote {
	margin: 1rem 0 0 0;
	padding: 0 0 0 5rem;
	position: relative;
  }
  blockquote:before {
	color: #ccc;
	content: '\201C';
	font-size: 10em;
	display:block;
	position: absolute;
	left:0;
	top:-1rem;
	line-height: 1;
  }

  .source {
	  font-style: italic;
	  text-align: right;
	  padding:1rem 0;
  }


  iframe {
	  width:100%;
	  height:50vh;
	  border:0;
  }



  svg {
	display: inline-block;
	width:75%;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
 } 

 path, .share {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
 }

path { fill: #111; stroke:#ddd;}
path:hover {
	stroke:#000;
}


.mobile-break {
	clear:both;
	display:block;
	margin-bottom:0.5rem;
}

.mobile-break .social {
	margin-top:1rem;
}

header>a {
	display: block;
}


footer>a {
	display:block;
}


svg {
	width:100%;
}

#key {
	width:100%;
	margin-bottom:2rem;
}

.keyRow {
	font-size:0.8rem;
	padding:0.1rem; 
	max-width:20rem;
}

@media only screen and (min-width: 1024px) {
	
	.mobile-break {
		display: inline-block;
	}

	header>a {
		display:inline;
	}

	footer>a {
		display:inline;
	}

	.mobile-break .social {
		margin-top:0;
	}

	svg {
		width:auto;
		width:18rem;
		display: inline-block;
	}
	#key {
		width:10rem;
		margin-left:2rem;
		display: inline-block;
	}

	.keyRow {
		font-size:0.4rem;
		padding:0.1rem;
	}
}

